.playlist-item {
  cursor: pointer;
  border-radius: 8px;
}

.playlist-item:hover {
  cursor: pointer;
  background-color: #bec6e4;
}

.playlist-item .delete {
  visibility: hidden;
}

.playlist-item:hover .delete {
  visibility: visible;
}