.clickable {
  cursor: pointer;
}

#app {
  background-color: #e9ebee;
  display: flex;
  flex-flow: row;
}

#app-panel {
  padding: 16px;
  width: 100%;
  border-radius: 16px;
}

#app-panel > div {
  background: #FFFFFF;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
}

.admin-controls {
  margin-bottom: 16px;
  display: flex;
  flex-flow: row-reverse;
}

.admin-title {
  margin-bottom: 16px;
}

.highlight {
  background-color: #bec6e4;
}

.legend {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}