.video-item {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.video-item:not(:last-child) {
  border-bottom: 1px solid #EEEEEE
}

.video-item .no {
  flex-basis: 6%;
}

.video-item .title {
  flex-basis: 22%;
  font-size: 1rem;
}

.video-item .description {
  flex-basis: 22%;
  font-size: 1rem;
}

.video-item .duration {
  flex-basis: 22%;
  font-size: 1rem;
}

.video-item .preview {
  flex-basis: 22%;
  font-size: 1rem;
}

.video-item .controls {
  flex-basis: 6%;
}

.video-item:hover {
  cursor: pointer;  
}

.video-item .delete {
  visibility: hidden;
}

.video-item:hover .delete {
  visibility: visible;
}

.video-item.header .delete {
  visibility: visible;
}

.video-item.header > div {
  font-weight: 700;
}

.video-item > div {
  padding: 5px;
}